
$engo-accordion-background:                        $brand-success !default;
$engo-accordion-color:                             $brand-success !default;

$engo-accordion-border-color:                      #eee !default;