/* latest posts */
$engo-latest-posts-color:                   #696969;
$engo-latest-posts-a-color:                 #000;
$engo-latest-posts-a-hover-color:           red;
$engo-latest-posts-font-size:               14px;
$engo-latest-posts-title-font-size:         18px;

$engo-latest-posts-profile-font-size:       13px;
$engo-latest-posts-profile-color:           #696969;